body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    background-color: #eee;
}
h1 {
    font-size: 40px;
    line-height: 44px;
    margin: 0;
}
h2 {
    font-size: 35px;
    line-height: 39px;
    margin: 0;
}
header, footer {
    background-color: #fff;
    padding: 12px;
    box-sizing: border-box;
}
    header a:visited {
        color: #00f;
    }
    header .column {
        align-self: flex-end;
    }
input {
    display: block;
    font-size: 20px;
    padding: 7px;
    border: 1px solid #333;
    border-radius: 4px;
}
    input[type=submit] {

    }
    input[type=submit]:active {
        background-color: #fff;
    }
ol.panels {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    ol.panels li {
        padding: 12px;
        background-color: #fff;
    }
p.message {
    margin: 0;
}
section#question {
    margin-bottom: 12px;
}
textarea {
    display: block;
    width: 800px;
    height: 200px;
}
.columns {
    margin: 0 auto 12px;
    display: flex;
    justify-content: space-between;
    max-width: 1348px;
}
    .columns.one-column .column {
        width: 100%;
    }
.panel {
    padding: 12px;
    background-color: #fff;
    margin-bottom: 12px;
}
    .panel *:last-child {
        margin-bottom: 0;
    }
